*.cache
/target
/.build
vcpkg_installed
/out
**/target
/generated
*.env.keys
**/.idea
node_modules/
jspm_packages/
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
*.tgz
.nuxt
dist
.vuepress/dist
.serverless/
.vscode-test
.DS_Store
/Sources/generated
/*.d
/*.o
/*.swiftdeps*